<div class="sidebar" #menu>
  <div class="menu-content">
    <!-- <div class="menu_name">Admin Dashboard</div> -->
    <!-- <i class="bi bi-filter-left" #menuBtn (click)="sideBar(menu)"></i> -->
    <i class="bi bi-filter-left"></i>
  </div>
  <ul class="nav_list">
    <li>
      <a href="Home">
        <i class="bi bi-grid"></i>
        <!-- <span class="links_name"> Dashboard</span> -->
      </a>
      <span class="tooltip"> Dashboard</span>
    </li>
    <li>
      <a href="CreateEmployee">
        <i class="bi bi-person-plus-fill"></i>
        <!-- <span class="links_name"> Create Employee</span> -->
      </a>
      <span class="tooltip"> Create Employee</span>
    </li>
    <li>
      <a href="ShowEmployees">
        <i class="bi bi-people-fill"></i>
        <!-- <span class="links_name"> Show Employees</span> -->
      </a>
      <span class="tooltip"> Show Employees</span>
    </li>
  </ul>
</div>
