<div class="container">
  <div class="contactTable" id="contactsSection">

    <h2>All Employees</h2>

    <table>
        <thead>
            <th>Name <div class="vl"></div></th>
            <th>Email <div class="vl"></div></th>
            <th>Phone Number</th>
        </thead>
        
        <tbody>
            <tr id="data">
              <td>Shaimaa</td>
              <td>Shaimaa@gmail.com</td>
              <td>01100061820</td>
            </tr>
            <tr id="data">
              <td>Safaa</td>
              <td>Safaa@gmail.com</td>
              <td>01100061820</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>