<div class="container">

  <h1>Employees Analysis</h1>
  
  <div class="content">
    <div class="card orang">
      <div class="card-title">
        Employees
      </div>
      <div class="card-content">
        <div class="card-icon">
          <img src="../../../assets/images/team.png">
        </div>
        <div class="card-data">
          <div class="data-content">Total number of employees</div>
          <div class="data">{{totalNumberOfEmployees}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="card green">
      <div class="card-title">
        Active Employees
      </div>
      <div class="card-content">
        <div class="card-icon">
          <img src="../../../assets/images/board-meeting.png">
        </div>
        <div class="card-data">
          <div class="data-content">Total number of employees</div>
          <div class="data">{{totalActiveEmployees}}</div>
        </div>
      </div>
    </div>
  </div>
  

  <div class="content">
    <div class="card blue">
      <div class="card-title">
        Male Employees
      </div>
      <div class="card-content">
        <div class="card-icon">
          <img src="../../../assets/images/standing-up-man-.png">
        </div>
        <div class="card-data">
          <div class="data-content">Total number of employees</div>
          <div class="data">{{totalMaleEmployees}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="card pruppel">
      <div class="card-title">
        Female Employees
      </div>
      <div class="card-content">
        <div class="card-icon">
          <img src="../../../assets/images/girl.png">
        </div>
        <div class="card-data">
          <div class="data-content">Total number of employees</div>
          <div class="data">{{totalFemaleEmployees}}</div>
        </div>
      </div>
    </div>
  </div>

  <button></button>
</div>
