.container{
  margin-left:80px;
  margin-top: 20px;
}
h2{
  margin-left: 650px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.container .formCard{
  position: absolute;
  right: 0;
  left: 0;
  float:left;
  margin: auto;
  width:75%;
  padding:20px;
  margin-left: 270px;
  color:rgb(48, 48, 48);
  background-color: white;
  border-radius:35px;
  box-shadow: gainsboro 0px 7px 29px 0px;
}
form{
  left: 80px;
  top:0;
  padding:10px 10px 0 10px ;
}
.content{
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* .container .analysis{
  float:right;
  width:70%;
} */

#fname, #lname, #email, #phone, #address{
  padding:15px;
  width: 100%;
  background-color: #f2f2fe;
  font-family: 'Montserrat', sans-serif;
  border: 0px;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0px rgb(240, 240, 240);
}
.date{
  width: 100%;
}
#bdate{
  font-family: 'Montserrat', sans-serif;
}
#birthDate{
  margin-left: 5px;
  padding:15px;
  width: 80%;
  background-color: #f2f2fe;
  font-family: 'Montserrat', sans-serif;
  border: 0px;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0px rgb(240, 240, 240);
}
#address{
  margin-bottom: 10px;
}
.button-box{
  display:inline;
  position: relative;
  margin-left: 5px;
  padding: 10px 0;
  background: #c6c8ed;
  border-radius: 10px;
}
.toggle-btn{
  position: relative;
  padding: 11px 25px;
  cursor: pointer;
  color: white;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border: 0;
  outline: none;
}
.btn{
  position: absolute;
  left: 0;
  top: 0;
  width: 90px;
  height: 35px;
  background: #020448;
  border-radius: 10px;
  transform: .5s;
}
.activeStatus{
  margin-right:10px;
  font-family: 'Montserrat', sans-serif;
}
#active{
  height:20px; 
  width:20px; 
  vertical-align: middle;
}
#inactive
{
  height:20px; 
  width:20px; 
  vertical-align: middle;
}
#save{
  float: right;
  margin-top: 20px;
  width: 110px;
  height: 35px;
  color:white;
  background: #020448;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border-radius: 10px;
  transform: .5s;
}
#reset{
  margin-top: 20px;
  width: 110px;
  height: 35px;
  color:#020448;
  background: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border: 1px solid #020448;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0px rgb(240, 240, 240);
  transform: .5s;
}

@media screen and (max-width: 600px) {
  .container .formCard{
    position: relative;
    margin-left: 15px;
    margin-bottom:15px;
    width: 90%;
  }
  h2{
    margin-left: 85px;
  }
  .content {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  #save{
    width:100%;
  }
  #reset{
    width: 100%;
  }
}